//COLOURS

//COLOURS - BACKGROUNDS & ACCENTS
$color-primary: #019698;
$color-secondary: #025C67;
$color-tertiary: #002D33;
$color-accent-primary: #013567;
$color-accent-secondary: #9B0281;

//COLOURS - TEXT
$color-text-light: #DAF6F9;
$color-text-dark: #010E14;