@-webkit-keyframes zoomFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem) scale(0.2);
            transform: translateY(5rem) scale(0.2);
  }
  90% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem) scale(0.2);
            transform: translateY(5rem) scale(0.2);
  }
  90% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.reveal {
  position: relative;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.reveal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  padding: 0;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 35.1em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 23.4em) {
  html {
    font-size: 70%;
  }
}

::-moz-selection {
  background-color: #DAF6F9;
  color: #002D33;
}

::selection {
  background-color: #DAF6F9;
  color: #002D33;
}

body {
  color: #DAF6F9;
  font-family: 'Jost', sans-serif;
}

.subsection-heading-primary {
  display: block;
  padding: 1rem 0;
  background-color: #002D33;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 23.4em) {
  .subsection-heading-primary {
    font-size: 1rem;
  }
}

.subsection-heading-secondary {
  display: block;
  padding: 1rem 0;
  background-color: #012242;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 23.4em) {
  .subsection-heading-secondary {
    font-size: 1rem;
  }
}

.row {
  padding: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-text-align-right {
  text-align: right;
}

.u-btn-margin {
  margin: 3rem;
}

.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(155, 2, 129, 0.7)), to(rgba(114, 1, 93, 0.7)));
  background: linear-gradient(to right bottom, rgba(155, 2, 129, 0.7), rgba(114, 1, 93, 0.7));
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  color: #DAF6F9;
  text-decoration: none;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(155, 2, 129, 0.8)), to(rgba(114, 1, 93, 0.8)));
  background: linear-gradient(to right bottom, rgba(155, 2, 129, 0.8), rgba(114, 1, 93, 0.8));
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 150, 152, 0.7)), to(rgba(2, 92, 103, 0.7)));
  background: linear-gradient(to right bottom, rgba(1, 150, 152, 0.7), rgba(2, 92, 103, 0.7));
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.btn-secondary, .btn-secondary:link, .btn-secondary:visited {
  color: #DAF6F9;
  text-decoration: none;
}

.btn-secondary:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 150, 152, 0.9)), to(rgba(2, 92, 103, 0.9)));
  background: linear-gradient(to right bottom, rgba(1, 150, 152, 0.9), rgba(2, 92, 103, 0.9));
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.return-to-top {
  position: relative;
}

.return-to-top__icon {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: #DAF6F9;
  text-decoration: none;
  background: radial-gradient(rgba(114, 1, 93, 0.8), rgba(114, 1, 93, 0.7));
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0.5rem #daf6f9;
          box-shadow: 0 0 0.5rem #daf6f9;
  z-index: 500;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

@media only screen and (max-width: 23.4em) {
  .return-to-top__icon {
    bottom: 3%;
    right: 8%;
  }
}

.return-to-top__icon:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer {
  background-color: #002D33;
}

.footer__background-secondary {
  background-color: #012242;
}

.footer__contact-methods, .footer__contact-methods-secondary {
  padding: 2rem;
  font-size: 2rem;
}

.footer__contact-methods--contact-method-logo-primary, .footer__contact-methods-secondary--contact-method-logo-primary {
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.footer__contact-methods--contact-method-logo-primary, .footer__contact-methods--contact-method-logo-primary:active, .footer__contact-methods--contact-method-logo-primary:visited, .footer__contact-methods-secondary--contact-method-logo-primary, .footer__contact-methods-secondary--contact-method-logo-primary:active, .footer__contact-methods-secondary--contact-method-logo-primary:visited {
  color: #DAF6F9;
}

.footer__contact-methods--contact-method-logo-primary:hover, .footer__contact-methods-secondary--contact-method-logo-primary:hover {
  color: #019698;
}

.footer__contact-methods--contact-method-logo-secondary, .footer__contact-methods-secondary--contact-method-logo-secondary {
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.footer__contact-methods--contact-method-logo-secondary, .footer__contact-methods--contact-method-logo-secondary:active, .footer__contact-methods--contact-method-logo-secondary:visited, .footer__contact-methods-secondary--contact-method-logo-secondary, .footer__contact-methods-secondary--contact-method-logo-secondary:active, .footer__contact-methods-secondary--contact-method-logo-secondary:visited {
  color: #DAF6F9;
}

.footer__contact-methods--contact-method-logo-secondary:hover, .footer__contact-methods-secondary--contact-method-logo-secondary:hover {
  color: #9B0281;
}

.footer__logo--icon {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 3rem;
  -webkit-perspective: 10rem;
          perspective: 10rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.footer__logo--icon:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.footer__website-link-primary--link, .footer__website-link-secondary--link {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  color: #DAF6F9;
  text-decoration: none;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.footer__website-link-primary--link:hover {
  color: #019698;
}

.footer__website-link-secondary--link:hover {
  color: #9B0281;
}

.header {
  position: relative;
}

.header__background-primary {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 150, 152, 0.6)), to(rgba(0, 45, 51, 0.5))), url(/img/hero-background.jpg);
  background: linear-gradient(to right bottom, rgba(1, 150, 152, 0.6), rgba(0, 45, 51, 0.5)), url(/img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  height: 90vh;
}

@media only screen and (max-width: 23.4em) {
  .header__background-primary {
    height: 75%;
  }
}

.header__background-secondary {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 34, 66, 0.5)), to(rgba(114, 1, 93, 0.6))), url(/img/hero-background.jpg);
  background: linear-gradient(to right bottom, rgba(1, 34, 66, 0.5), rgba(114, 1, 93, 0.6)), url(/img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  height: 45vh;
}

@media only screen and (max-width: 35.1em) {
  .header__background-secondary {
    height: 35vh;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__background-secondary {
    height: 35vh;
  }
}

.header__background-tertiary {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 150, 152, 0.6)), to(rgba(0, 45, 51, 0.5))), url(/img/hero-background.jpg);
  background: linear-gradient(to right bottom, rgba(1, 150, 152, 0.6), rgba(0, 45, 51, 0.5)), url(/img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  height: 45vh;
}

@media only screen and (max-width: 35.1em) {
  .header__background-tertiary {
    height: 35vh;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__background-tertiary {
    height: 35vh;
  }
}

.header__heading-primary-homepage {
  position: absolute;
  top: 10rem;
  left: 8rem;
  font-family: 'Megrim', cursive;
  font-weight: 500;
  letter-spacing: 1rem;
  font-size: 4rem;
  -webkit-animation: zoomFadeIn 1s ease-in-out;
          animation: zoomFadeIn 1s ease-in-out;
}

@media only screen and (max-width: 60rem) {
  .header__heading-primary-homepage {
    left: 4rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .header__heading-primary-homepage {
    top: 6rem;
    left: 4rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__heading-primary-homepage {
    top: 6rem;
    left: 2rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__heading-primary-homepage {
    top: 6rem;
    left: 2rem;
    font-size: 2rem;
  }
}

.header__heading-secondary-homepage {
  position: absolute;
  top: 15.5rem;
  left: 8rem;
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.35rem;
  -webkit-animation: zoomFadeIn 1s ease-in-out;
          animation: zoomFadeIn 1s ease-in-out;
}

@media only screen and (max-width: 60rem) {
  .header__heading-secondary-homepage {
    left: 4rem;
  }
}

@media only screen and (max-width: 48.68em) {
  .header__heading-secondary-homepage {
    top: 10rem;
    left: 4rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__heading-secondary-homepage {
    top: 14rem;
    left: 2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__heading-secondary-homepage {
    top: 13rem;
    left: 1rem;
    font-size: 1rem;
  }
}

.header__heading-primary {
  position: absolute;
  top: 6rem;
  left: 8rem;
  font-family: 'Megrim', cursive;
  font-weight: 500;
  letter-spacing: 1rem;
  font-size: 4rem;
  -webkit-animation: zoomFadeIn 1s ease-in-out;
          animation: zoomFadeIn 1s ease-in-out;
}

@media only screen and (max-width: 48.68em) {
  .header__heading-primary {
    top: 6rem;
    left: 4rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__heading-primary {
    top: 6rem;
    left: 3rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__heading-primary {
    top: 6rem;
    left: 2rem;
    font-size: 2rem;
  }
}

.header__heading-secondary {
  position: absolute;
  top: 11rem;
  left: 8rem;
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.35rem;
  -webkit-animation: zoomFadeIn 1s ease-in-out;
          animation: zoomFadeIn 1s ease-in-out;
}

@media only screen and (max-width: 48.68em) {
  .header__heading-secondary {
    top: 10rem;
    left: 4rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__heading-secondary {
    top: 10rem;
    left: 3rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__heading-secondary {
    top: 10rem;
    left: 2rem;
    font-size: 1.5rem;
  }
}

.header__buttons {
  -webkit-animation: moveInBottom 1s ease-in-out;
          animation: moveInBottom 1s ease-in-out;
}

.header__buttons--about {
  position: absolute;
  top: 20rem;
  left: 8rem;
}

@media only screen and (max-width: 48.68em) {
  .header__buttons--about {
    top: 17rem;
    left: 4rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__buttons--about {
    top: 20rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__buttons--about {
    top: 18rem;
    left: 2rem;
  }
}

.header__buttons--contact {
  position: absolute;
  top: 20rem;
  left: 17rem;
}

@media only screen and (max-width: 48.68em) {
  .header__buttons--contact {
    top: 17rem;
    left: 13rem;
  }
}

@media only screen and (max-width: 35.1em) {
  .header__buttons--contact {
    top: 20rem;
    left: 11rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .header__buttons--contact {
    top: 18rem;
    left: 11rem;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background: radial-gradient(rgba(114, 1, 93, 0.8), rgba(155, 2, 129, 0.2));
  -webkit-box-shadow: 0 0 0.5rem #daf6f9;
          box-shadow: 0 0 0.5rem #daf6f9;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 23.4em) {
  .navigation__button {
    top: 3%;
    right: 8%;
  }
}

.navigation__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background: radial-gradient(#72015d, rgba(155, 2, 129, 0.4));
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5%;
  right: 5%;
  background-image: radial-gradient(#002D33 20%, #72015D 95%);
  z-index: 1000;
  -webkit-box-shadow: 0 1rem 3rem rgba(1, 14, 20, 0.1);
          box-shadow: 0 1rem 3rem rgba(1, 14, 20, 0.1);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 23.4em) {
  .navigation__background {
    top: 3%;
    right: 8%;
  }
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1.5rem;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: rgba(218, 246, 249, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 400ms all ease-in-out;
  transition: 400ms all ease-in-out;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #72015D;
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(70);
          transform: scale(70);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.75rem;
  height: 2px;
  background-color: #DAF6F9;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.about {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 53, 103, 0.95)), to(rgba(1, 34, 66, 0.95))), url(/img/hero-background.jpg);
  background: linear-gradient(to bottom right, rgba(1, 53, 103, 0.95), rgba(1, 34, 66, 0.95)), url(/img/hero-background.jpg);
  background-position: bottom;
}

.about p {
  padding: 0rem 3rem;
}

@media only screen and (max-width: 35.1em) {
  .about p {
    padding: 0rem 1.5rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .about p {
    padding: 0rem 1rem;
  }
}

.about p:first-child {
  padding-top: 2rem;
}

.about p:last-child {
  padding-bottom: 2rem;
}

.about ul {
  display: block;
  text-align: center;
}

.about ul li {
  display: inline-block;
  padding: 2rem;
  text-align: center;
  list-style: none;
}

@media only screen and (max-width: 35.1em) {
  .about ul li {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 23.4em) {
  .about ul li {
    padding: 0.5rem;
  }
}

.about__content--contact-button {
  padding: 1rem 0rem 2rem 0rem;
  margin-left: 3rem;
}

@media only screen and (max-width: 35.1em) {
  .about__content--contact-button {
    margin-left: 1.5rem;
  }
}

.projects {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(2, 92, 103, 0.95)), to(rgba(0, 45, 51, 0.95))), url(/img/hero-background.jpg);
  background: linear-gradient(to bottom right, rgba(2, 92, 103, 0.95), rgba(0, 45, 51, 0.95)), url(/img/hero-background.jpg);
  background-position: bottom;
}

.projects__list--description, .projects__list--image {
  padding: 2rem;
  background-color: rgba(0, 45, 51, 0.9);
  border-radius: 3px;
}

.projects__list--description ul, .projects__list--image ul {
  list-style: none;
  padding: 0;
}

.projects__list--photo-credit {
  padding-top: 1rem;
  font-size: 0.5rem;
}

.projects__list--photo-credit a {
  color: #DAF6F9;
  text-decoration: none;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.projects__list--photo-credit a:hover {
  color: #019698;
}

.portfolio {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(2, 92, 103, 0.95)), to(rgba(0, 45, 51, 0.95))), url(/img/hero-background.jpg);
  background: linear-gradient(to bottom right, rgba(2, 92, 103, 0.95), rgba(0, 45, 51, 0.95)), url(/img/hero-background.jpg);
  background-position: bottom;
  position: relative;
}

.portfolio__row {
  position: relative;
}

.portfolio__row--image {
  padding: 0.5rem 1rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.portfolio__row--image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.portfolio__row--image:hover .portfolio__row--image img {
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio__row--figure {
  padding: 0.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-radius: 4px;
}

.portfolio__row--figure:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio__row--caption {
  padding: 5px 10px;
}

.portfolio__row:hover .portfolio__row--image:not(:hover) {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}

.study {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(1, 53, 103, 0.95)), to(rgba(1, 34, 66, 0.95))), url(/img/hero-background.jpg);
  background: linear-gradient(to bottom right, rgba(1, 53, 103, 0.95), rgba(1, 34, 66, 0.95)), url(/img/hero-background.jpg);
  background-position: bottom;
}

.study__row--image {
  padding: 1rem 2rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.study__row--image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.study__row:hover .study__row--image:not(:hover) {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}
/*# sourceMappingURL=main.css.map */