.footer {
    background-color: $color-tertiary;

    &__background-secondary {
        background-color: #14314b;
    }

    &__contact-methods,
    &__contact-methods-secondary {
        padding: 2rem;
        font-size: 2rem;
        
        &--contact-method-logo-primary {
            transition: $default-transition;
        
            &,
            &:active,
            &:visited {
                color: $color-text-light;
            }

            &:hover {
                color: $color-primary;
            }
        }

        &--contact-method-logo-secondary {
            transition: $default-transition;
        
            &,
            &:active,
            &:visited {
                color: $color-text-light;
            }

            &:hover {
                color: $color-accent-secondary-light;
            }
        }
    }

    &__logo--icon {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 3rem;
        perspective: 10rem;
        transition: $default-transition;

        &:hover {
            transform: rotateY(180deg);
        }
    }

    &__website-link-primary,
    &__website-link-secondary {

        &--link {
        display: block;
        padding-bottom: 2rem;
        text-align: center;
        color: $color-text-light;
        text-decoration: none;
        transition: $default-transition;
        }
    }

    &__website-link-primary--link {
        &:hover {
            color: $color-primary;
        }
    }

    &__website-link-secondary--link {
        &:hover {
            color: $color-accent-secondary-light;
        }
    }
}