.header {
    position: relative;

    &__background-primary {
        background: linear-gradient(
            to right bottom, 
            rgba($color-primary, 0.6), 
            rgba($color-tertiary, 0.5)), 
            url(/img/hero-background.jpg);
        background-size: cover;
        background-position: center;
        transform: rotateZ(180deg);
        height: 90vh;

        @include respond(phone) {
            height: 75vh;
        }
    }

    &__background-secondary {
        background: linear-gradient(
            to right bottom, 
            rgba($color-accent-primary-dark, 0.5), 
            rgba($color-accent-secondary-medium, 0.6)),
            url(/img/hero-background.jpg);
        background-size: cover;
        background-position: center;
        transform: rotateZ(180deg);
        height: 45vh;  

        @include respond(tab-port) {
            height: 35vh;
        }

        @include respond(phone) {
            height: 35vh;
        }
    }

    &__background-tertiary {
        background: linear-gradient(
            to right bottom, 
            rgba($color-primary, 0.6), 
            rgba($color-tertiary, 0.5)), 
            url(/img/hero-background.jpg);
        background-size: cover;
        background-position: center;
        transform: rotateZ(180deg);
        height: 45vh; 
        
        @include respond(tab-port) {
            height: 35vh;
        }

        @include respond(phone) {
            height: 35vh;
        }
    }

    &__heading-primary-homepage {
        position: absolute;
        top: 10rem;
        left: 8rem;
        font-family: 'Megrim', cursive;
        font-weight: 500;
        letter-spacing: 1rem;
        font-size: 4rem;
        animation: zoomFadeIn 1s ease-in-out;

        @include respond(small-desk) {
            left: 4rem;
        }

        @include respond(tab-land) {
            top: 6rem;
            left: 4rem;
            font-size: 3rem;
        }

        @include respond(tab-port) {
            top: 6rem;
            left: 2rem;
            font-size: 2.5rem;
        }

        @include respond(phone) {
            top: 6rem;
            left: 2rem;
            font-size: 2.5rem;
        }
    }

    &__heading-secondary-homepage {
        position: absolute;
        top: 15.5rem;
        left: 8rem;
        font-family: 'Jost', sans-serif;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 0.35rem;
        animation: zoomFadeIn 1s ease-in-out;

        @include respond(small-desk) {
            left: 4rem;
        }

        @include respond(tab-land) {
            top: 10rem;
            left: 4rem;
            font-size: 2rem;
        }

        @include respond(tab-port) {
            top: 14rem;
            left: 2rem;
            font-size: 1.5rem;
        }

        @include respond(phone) {
            top: 14rem;
            left: 2rem;
            font-size: 1.5rem;
        }
    }

    &__heading-primary {
        position: absolute;
        top: 6rem;
        left: 8rem;
        font-family: 'Megrim', cursive;
        font-weight: 500;
        letter-spacing: 1rem;
        font-size: 4rem;
        animation: zoomFadeIn 1s ease-in-out;

        @include respond(tab-land) {
            top: 6rem;
            left: 4rem;
            font-size: 3rem;
        }

        @include respond(tab-port) {
            top: 6rem;
            left: 3rem;
            font-size: 2.5rem;
        }

        @include respond(phone) {
            top: 6rem;
            left: 2rem;
            font-size: 2rem;
        }
    }

    &__heading-secondary {
        position: absolute;
        top: 11rem;
        left: 8rem;
        font-family: 'Jost', sans-serif;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 0.35rem;
        animation: zoomFadeIn 1s ease-in-out;

        @include respond(tab-land) {
            top: 10rem;
            left: 4rem;
            font-size: 2rem;
        }

        @include respond(tab-port) {
            top: 10rem;
            left: 3rem;
            font-size: 1.25rem;
        }

        @include respond(phone) {
            top: 10rem;
            left: 2rem;
            font-size: 1.5rem;
        }
    }

    &__buttons {
        animation: moveInBottom 1s ease-in-out;
        
        &--about {
            position: absolute;
            top: 20rem;
            left: 8rem;

            @include respond(tab-land) {
                top: 17rem;
                left: 4rem;
            }

            @include respond(tab-port) {
                top: 20rem;
                left: 2rem;
            }

            @include respond(phone) {
                top: 19rem;
                left: 2rem;
            }
        }

        &--contact {
            position: absolute;
            top: 20rem;
            left: 17rem;

            @include respond(tab-land) {
                top: 17rem;
                left: 13rem;
            }

            @include respond(tab-port) {
                top: 20rem;
                left: 11rem;
            }

            @include respond(phone) {
                top: 19rem;
                left: 11rem;
            }
        }
    }
}