@keyframes zoomFadeIn {
    0% {
        opacity: 0;
        transform: translateY(5rem) scale(0.2);
    }

    90% {
        transform: scale(1.03);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.reveal {
    position: relative;
    transform: translateY(2rem);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}