.subsection-heading-primary {
    display: block;
    padding: 1rem 0;
    background-color: $color-tertiary;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;

    @include respond(phone) {
        font-size: 1rem;
    }
}

.subsection-heading-secondary {
    display: block;
    padding: 1rem 0;
    background-color: $color-accent-primary-dark;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;

    @include respond(phone) {
        font-size: 1rem;
    }
}