.row {
    padding: 2rem;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-top-medium {
    margin-top: 2rem;
}

.u-text-align-right {
    text-align: right;
}

.u-btn-margin {
    margin: 3rem;
}