.about {
  background: linear-gradient(
      to bottom right,
      rgba($color-accent-primary-light, 0.95),
      rgba($color-accent-primary-dark, 0.95)
    ),
    url(/img/hero-background.jpg);
  background-position: bottom;

  & p {
      padding: 0rem 3rem;

      @include respond(tab-port) {
        padding: 0rem 1.5rem;
      }

      @include respond(phone) {
        padding: 0rem 1rem;
      }
    
      &:first-child {
          padding-top: 2rem;
      }

      &:last-child {
          padding-bottom: 2rem;
      }
  }

  & ul {
    display: block;
    text-align: center;

    & li {
        display: inline-block;
        padding: 2rem;
        text-align: center;

        @include list-style;

        @include respond(tab-port) {
          padding: 0.5rem;
        }

        @include respond(phone) {
          padding: 0.5rem;
        }
    } 
  }

  &__content--contact-button {
      padding: 1rem 0rem 2rem 0rem;
      margin-left: 3rem;

      @include respond(tab-port) {
        margin-left: 1.5rem;
      }
  }

}
