.study {
  background: linear-gradient(
      to bottom right,
      rgba($color-accent-primary-light, 0.95),
      rgba($color-accent-primary-dark, 0.95)
    ),
    url(/img/hero-background.jpg);
  background-position: bottom;

  &__row {
  
    &--image {
      padding: 1rem 2rem;
      transition: $default-transition;

      &:hover {
        transform: scale(1.03);
      }
    }

    &:hover &--image:not(:hover) {
        transform: scale(0.97);
        filter: contrast(70%);
    }
  }
}