.study {
  background: linear-gradient(
      to bottom right,
      rgba(#114273, 0.95),
      rgba(#14314b, 0.95)
    ),
    url(/img/hero-background.jpg);
  background-position: bottom;

  &__row {
  
    &--image {
      padding: 1rem 2rem;
      transition: 300ms all ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }

    &:hover &--image:not(:hover) {
        transform: scale(0.97);
        filter: brightness(80%);
    }
  }
}